.footer-copy {
  padding: 3em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.footer{
  margin-top: 8em;
  height: 15em;
  background-color: black;
  opacity: 20%;
  color: springgreen;

}
