<mat-toolbar>
  <mat-toolbar-row>
    <span><i class="fab fa-2x fa-black-tie"></i></span>
    <span class="title-font">HR MANAGER</span>
    <span class="spacer"></span>
    <span>
      <button mat-button color="accent">
        <i class="fas fa-home "></i>
        <span class="title-icon-font"> HOME</span>
      </button>
      <button mat-button color="accent">
        <i class="fas fa-key "></i>
        <span class="title-icon-font"> LOGIN</span>
      </button>
      <button mat-button color="accent">
        <i class="fas fa-sign-in-alt"></i>
        <span class="title-icon-font"> REGISTER</span>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
