
<div class="row">
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
    <div class="col-lg-2">
      <span class="spacer"></span>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-key "></i></button>
      </div>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-key "></i></button>
      </div>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-key "></i></button>
      </div>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-key "></i></button>
      </div>
    </div>

</div>

