
<div class="row">
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
    <div class="col-lg-2" *ngIf="router.url != '/dashboard'">
      <span class="spacer"></span>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-2x fa-eye"></i></button>
      </div>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-2x fa-edit"></i></button>
      </div>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-2x fa-plus"></i></button>
      </div>
      <div class="button-row">
        <button mat-fab color="warn"><i class="fas fa-2x fa-minus-circle"></i></button>
      </div>
    </div>

</div>

