<div class="row">
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-2" *ngIf="router.url != '/dashboard'">
    <div [ngSwitch]="router.url">
      <div *ngSwitchCase="'/hr'">
        <span class="spacer"></span>
        <div class="button-row">
          <div class="button-row">
            <button mat-fab color="warn" routerLink="/dashboard"><i class="fas fa-2x fa-eye"></i></button>
          </div>
          <div class="button-row">
            <button mat-fab color="warn" (click)="openEmployeeDialog()"><i class="fas fa-2x fa-edit"></i></button>
          </div>
          <div class="button-row">
            <button mat-fab color="warn" routerLink="/hr/addEmployee"><i class="fas fa-2x fa-plus"></i></button>
          </div>
          <div class="button-row">
            <button mat-fab color="warn" (click)="openEmployeeDeleteDialog()"><i class="fas fa-2x fa-minus-circle"></i>
            </button>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'/hr/editEmployee'">
        <span class="spacer"></span>
        <div class="button-row">
          <button mat-fab color="warn" routerLink="/hr"><i class="fas fa-2x fa-eye"></i></button>
        </div>
      </div>
      <div *ngSwitchCase="'/hr/addEmployee'">
        <span class="spacer"></span>
        <div class="button-row">
          <button mat-fab color="warn" routerLink="/hr"><i class="fas fa-2x fa-eye"></i></button>
        </div>
      </div>
      <div *ngSwitchCase="'/hr/deleteEmployee'">
        <div class="button-row">
          <button mat-fab color="warn" routerLink="/hr"><i class="fas fa-2x fa-minus-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
