<div class="table-container mat-elevation-z8">
  <h5>Search Projects</h5>
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Project ID Column -->
    <ng-container matColumnDef="projectId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Project ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectId}}</mat-cell>
    </ng-container>

    <!-- Project Name Column -->
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Project Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectName}}</mat-cell>
    </ng-container>

    <!-- Project Description Column -->
    <ng-container matColumnDef="projectDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Project Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectDescription}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="keys"></mat-header-row>
    <mat-row *matRowDef="let row; columns: keys;"></mat-row>
  </mat-table>

  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"></mat-paginator>

</div>
