<h1 align="center" mat-dialog-title>
  Edit Employee Details
</h1>
<div mat-dialog-content>
  <div class="row">
    <mat-form-field>
      <mat-select placeholder="Employee" name="employees" [(ngModel)]='selectedEmployee'>
        <mat-option *ngFor="let employee of employees" [value]="employee">
          {{employee.firstName}}&nbsp;{{employee.lastName}}&nbsp;({{employee.email}})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="center">
  <button mat-button (click)="onSubmit()">SUMBIT</button>
  <button mat-button (click)="onNoClick()">CANCEL</button>
</div>


