<div class="Align">
  <div class="align-cards">
    <div *ngFor="let tile of tiles">
      <div class="col s12 m3">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>{{tile.text}}</p>
            </div>
            <div class="waves-effect card-action">
              <div *ngIf="tile.link === '/hr'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
              <div *ngIf="tile.link === '/roles'">
                <a (click)="openRoleDialog()">Manage</a>
              </div>
              <div *ngIf="tile.link === '/departments'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
              <div *ngIf="tile.link === '/projects'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
              <div *ngIf="tile.link === '/salary'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
              <div *ngIf="tile.link === '/timesheet'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
              <div *ngIf="tile.link === '/leaves'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
              <div *ngIf="tile.link === '/appraisal'">
                <a routerLink="{{tile.link}}">Manage</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









