<div class="table-container mat-elevation-z8">
  <h5>Search Roles</h5>
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Role ID Column -->
    <ng-container matColumnDef="roleId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.roleId}}</mat-cell>
    </ng-container>

    <!-- Role Name Column -->
    <ng-container matColumnDef="roleName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.roleName}}</mat-cell>
    </ng-container>

    <!-- Role Description Column -->
    <ng-container matColumnDef="roleDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.roleDescription}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="keys"></mat-header-row>
    <mat-row *matRowDef="let row; columns: keys;"></mat-row>
  </mat-table>

  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"></mat-paginator>

</div>
